<% layout("/layouts/boilerplate") %>
<style>
    #filters {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }

    .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }

    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }

    .filter p {
        font-size: 0.8rem;
    }

    .arrow {
        border: 1px solid lightgrey !important;
        border-radius: 50% !important;
        height: 2rem !important;
        width: 2rem !important;
    }
    .arrow {
        background: #ddd;      /* light gray background */
        color: black;          /* arrow symbol color */
        font-size: 14px;       /* smaller arrow size */
        padding: 4px 6px;      /* smaller button */
        border-radius: 50%;    /* circular */
        margin-top: 2.5rem;    /* center vertically */
    }


    .tax-info {
        display: none;
        font-size: 0.9rem;
        color: rgb(116, 115, 115);
    }

    .tax-toggle {
        border: 1px solid lightgrey;
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        height: 3rem;
        margin-left: auto;
        margin-top: 2rem;
    }
</style>
<body>
    <!-- <h3>All Listings</h3> -->
    <div id="carouselExample" class="carousel slide d-flex justify-content-between align-items-center">
        <div id="filters" class="carousel-inner">
                <!-- Slide 1 -->
                <div class="carousel-item slide1">
                    <div class="d-flex">

                       <div class="col filter">
                            <div><i class="fa-solid fa-fire"></i></div> 
                            <p>Trending</p>
                        </div>
                

                        <div class="col filter">
                            <div><i class="fa-solid fa-bed"></i></div> 
                            <p>Rooms</p>
                        </div>
                

                        <div class="col filter">
                            <div><i class="fa-solid fa-mountain-city"></i></div> 
                            <p>Iconic Cities</p>
                        </div>
            

                        <div class="col filter">
                            <div><i class="fa-brands fa-fort-awesome"></i></div> 
                            <p>Castles</p>
                        </div>
            

                        <div class="col filter">
                            <div><i class="fa-solid fa-fire"></i></div> 
                            <p>Trending</p>
                        </div>
          

                        <div class="col filter">
                            <div><i class="fa-solid fa-mountain"></i></div> 
                            <p>Mountains</p>
                        </div>
                    </div>
       
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item d-flex slide2">

                    <div class="col filter">
                        <div><i class="fa-solid fa-person-swimming"></i></div> 
                        <p>Amazing Pools</p>
                    </div>
                    

                    <div class="col filter">
                        <div><i class="fa-solid fa-campground"></i></div> 
                        <p>Camping</p>
                    </div>
            

                    <div class="col filter">
                        <div><i class="fa-solid fa-wheat-awn"></i></div> 
                        <p>Farms</p>
                    </div>
            

                    <div class="col filter">
                        <div><i class="fa-solid fa-snowflake"></i></div> 
                        <p>Artic</p>
                    </div>
        

                    <div class="col filter">
                        <div><i class="fa-solid fa-sailboat"></i></div> 
                        <p>Boats</p>
                    </div> 

          

                    <div class="col filter">
                        <div><i class="fa-solid fa-volleyball"></i></div> 
                        <p>Play</p>
                    </div> 

                </div>

                <!-- Controls -->
                <button class="carousel-control-prev arrow left" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next arrow right" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>  
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
               <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label " for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3"> 

        <% for (let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card listing-card">
                <img 
                    src="<%= listing.image.url %>" 
                    class="card-img-top" 
                    alt="listing_image" 
                    style="height: 20rem;"
                />
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b>
                        <br>
                        &#8377; <%= listing.price.toLocaleString("en-In") %> / night
                        <i class="tax-info"> &nbsp; + 18% GST</i>
                    </p>
                </div>
            </div>
        </a>
        <% } %>

    </div>

    <Script>
        let taxSwitch = document.getElementById('flexSwitchCheckDefault');
        let arrow = document.querySelector('.arrow');

        taxSwitch.addEventListener('click', () => {
            let taxInfo = document.querySelectorAll('.tax-info');
            taxInfo.forEach(info => {
                if (info.style.display != 'inline') {
                    info.style.display = 'inline';
                } else {
                    info.style.display = 'none';
                }
            });
        });

        arrow.addEventListener('click', () => {
            let slide1 = document.querySelector('.slide1');
            let slide2 = document.querySelector('.slide2');
            if (slide1.style.display != 'none') {
                slide1.style.display = 'none';
                slide2.classList.add('active');
            }
            if (slide2.style.display != 'none') {
                slide2.classList.remove('active');
                slide1.style.display = 'inline';
                slide1.classList.add('active');
            }
        });
    </Script>
</body>